{%extends "base/template.html"%}

{% block title %}
    Detalles de La sede
{% endblock title %}


{% block header %}
    <h4>Detalles de la Sede - {{object.nombre}}</h4>
{% endblock header %}

{% block content %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>

  		<tr>
      <th scope="row">{{object.id}}</th>
     <td>{{object.nombre}}</td>
     <td>{{object.direccion}}</td>
     <td>{{object.telefono}}</td>
     <td>{{object.correo}}</td>
    </tr>
    </tbody>
</table>
{% endblock content %}